#contact_modal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 2%;

}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 610px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  left: 0%;
  right: 0%;
}

.modal header {
  justify-content: space-between;
    width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 60px;
  font-family: DM Sans;
  font-weight: 400;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
form label {
  color: #312e2e;
  font-size: 36px;
  font-family: DM Sans;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 5px;
}

form input {
  width: 599px;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  width: 599px;
  height: 120px;
}

.button {
  width: 180px;
  background: #901c1c;
  color: white;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
